<h2><button id="home"><a href="/">Home</button></a></h2>
<h1>Meetup Details</h1>


<div class="details_name"><%= "#{@event.name}" %></div>
 <ul id="details_ul_style">
    <div>
      <p class="details_text">Description:
        <span class="details_text_color"><%= "#{@event.description}" %></span>
      </p>
    </div>
    <div>
      <p class="details_text">Location:
        <span class="details_text_color"><%= "#{@event.location}" %></span>
      </p>
    </div>
    <div>
      <p class="details_text">Creator:
        <span class="details_text_color"><%= "#{@event.creator}" %></span>
      </p>
    </div>
    <div>
      <p class="details_text">Attendees:
        <% @attendees.each do |attendee| %>
          <div>
            <img id="avatar" src="<%= attendee.avatar_url %>" />
            <span class="details_text_color"><%= " #{attendee.username}" %></span>
          </div>
        <% end %>
      </p>
    </div>
 </ul>

<div id="button_align">
  <form action="/meetups/<%= @event.id %>" method="post" id="form2">
    <button id="join" type="submit" form="form2" value="Join">Join</button>
  </form>

</div>
